<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Главная</title>
  <link rel="shortcut icon" href="/public/main/img/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        There will be world!
    </div>
</body>

</html>